@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Minecraftia-Regular";
    src: local("Minecraftia 2.0"),
        url("./fonts/Minecraftia-Regular.woff2") format("woff2"),
        url("./fonts/Minecraftia-Regular.woff") format("woff");
    font-weight: normal;
}
